@import './lib/eyes.css';
@import './lib/mouth.css';

.aura {
    border-radius: 50%;
    box-shadow: 1rem 1rem 8rem 16rem rgb(159, 41, 159);
    z-index: 1;
}
.gastly {
    align-items: center;
    background: rgb(53, 52, 52);
    border-radius: 50%;
    box-shadow: 1rem 1rem 8rem 9rem rgb(58, 7, 58);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    height: 30rem;
    position: relative;
}

.light {
    box-shadow: inset 0.1rem 0.4rem rgb(77, 74, 74);
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
    position: absolute;
    transform: rotate(-380deg);
}

.gastly-center {
    align-items: center;
    background: rgb(51, 50, 50);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25rem;
    width: 25rem;
}

.gastly-center-2 {
    align-items: center;
    background: rgb(48, 47, 47);
    box-shadow: 1rem 1rem 8rem 12rem rgb(48, 47, 47);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10rem;
    width: 10rem;
}
