@import './lib/eyes.css';
@import './lib/mouth.css';

.aura {
    border-radius: 50%;

    box-shadow: 1rem 1rem 8rem 16rem rgb(159, 41, 159);
}
.gastly {
    align-items: center;
    background: rgb(53, 52, 52);
    border-radius: 50%;
    box-shadow: 1rem 1rem 8rem 9rem rgb(58, 7, 58);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    height: 30rem;
}
